
/* Contenido prestamo*/
.top-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.top-btns .select {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  background-color: var(--light-color);
  gap: 20px;
}

.top-btns .select:hover {
  transition: all 0.3s ease;
  background-color: var(--main-color);
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1);
}
.top-btns .select:not(:hover) {
  transition: all 0.3s ease;
  background-color: var(--back-color);
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0);
}

select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 3rem;
  border-radius: 15px;
  padding: 10px;
  gap: 20px;
}

.general-btn {
  display: block;
  width: 100%;
}

.cancel-btn, .cancel-btn > .li-nav {
  text-align: center;
  color: var(--light-color);
}

.cancel-btn > a:hover{
  cursor: pointer;
}
  
.th-1 {
  font-size: 1.2rem;
  color: var(--light-color);
  padding-bottom: 20px;
}

td, th {
  padding: 10px;
  text-align: left;
}


/* ***************** */
/* Responsive Design */
/* ***************** */


@media screen and (max-width: 700px) {
.logo{
  margin: 0;
  position: absolute;
  right: 7%;
}

* {
  max-width: 100%;
}

body {
  width: 100%;
}

}
