:root {
    --main-color: #222831;
    --back-color: #393e46;
    --back-light-color: #a3a4a5;
    --light-color: #f7c873;
    --light-hover-color: #d8aa56;
    --button-hover-color: #d8aa56;
    --white-color: #eeeeee;
    --bg-right-color: #626364;
    --bg-left-color: #393e46;
    --border-color: #1b2029;
  }
  
  .errorMessage{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20%;
}

