/* Logo in Logged Pages */

.logo-mobile {
    display: none;
  }
  
  
  .logo {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
  }
  
  .bbank-logo {
    padding-top: 10px;
    width: 160px;
  }
  
  .bbank-logo:hover {
    transition: all 0.5s ease;
    opacity: 0.8;
  }
  
  .bbank-logo:not(:hover) {
    transition: all 0.5s ease;
    opacity: 1;
  }
  
  /* ***************** */
  /* Responsive Design */
  /* ***************** */
  
  @media screen and (max-width: 768px) {
    .logo {
        display: none;
    }
  
    .logo-mobile {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 64px;
        z-index: 99;
    }
  }


 /* Nav Bar */

.logged-navbar__list {
    position: fixed;
    display: flex;
    background-color: var(--main-color);
    flex-direction: column;
    margin: 0px;
    padding: 15px;
    width: 15%;
    min-width: 200px;
    height: 100%;
    z-index: 1;
}

.logged-navbar >ul {
    display: flex;
    align-items: center;
}

.logged-navbar__list__li-nav {
    display: block;
    margin: 12% 0%;
    width: 100%;
}

.logged-navbar >ul>li:last-child {
    margin-top: auto;
}

.li__a-nav {
    display: block;
    color: var(--back-light-color);
    font-weight: 500;
    text-decoration: none;
}

.li__a-nav > i {
    font-size: 25px;
    padding-right: 20px;
}

.li__a-nav:hover,
.li__a-nav:hover i {
    transition: color 0.2s;
    color: var(--light-color);
}


/* Animation */

.logged-navbar__list__li-nav {
    position: relative;
    padding: 0 0.1rem;
}

.logged-navbar__list__li-nav::after {
    content: "";
    position: absolute;
    background-color: var(--light-color);
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.logged-navbar__list__li-nav:hover::after {
    width: 100%;
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .logged-navbar__list {
        display: block;
        padding-top: 50px;
        position: static;
        width: 100%;
    }

    .logged-navbar__list nav {
        height: 100%;
    }

    .logged-navbar__list {
        display: block;
        align-items: center;
    }

    .logged-navbar__list > li,
    .logged-navbar__list > li:last-child {
        display: block;
        margin: 0;
        margin-top: 35px !important;
        width: 100%;
    }

    .logged-navbar__list__li-nav{
        margin: 20px 0px;
    }

    .logged-navbar  {
        font-size: 20px;
    }
}