@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Roboto:wght@300;400&display=swap');

/* Colors */

:root {
  --main-color: #222831;
  --back-color: #393e46;
  --back-light-color: #a3a4a5;
  --back-hover-color: #2d3542;
  --light-color: #f7c873;
  --light-hover-color: #c99e4f;
  --button-hover-color: #d8aa56;
  --white-color: #eeeeee;
  --bg-right-color: #626364;
  --bg-left-color: #393e46;
  --border-color: #1b2029;
  --presentation-title-color: #ffffff;
}

/* Light Theme 
:root {
  --main-color: #f7c873;
  --back-color: #e9e3d4;
  --back-light-color: #665633;
  --light-color: #222831;
  --light-hover-color: #d8aa56;
  --button-hover-color: #393e46;
  --white-color: #222831;
  --bg-right-color: #3f3f3f;
  --bg-left-color: #181a1d;
  --border-color: #d4bb85;
}
*/
.errorPopUp{
  position: fixed;
  right: 0%;
  top: 25%;
  scale: 1.2;
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 10px;
  padding: 10px;
  color: var(--white-color);
  font-weight: 500;
  background-color: rgb(182, 35, 35);
  transition: all 0.5s ease;
}
.errorPopUp.show {
  right: 0%; /* Cuando se agrega la clase 'show', aparecerá desde la derecha */
}
.errorPopUp.hide {
  transition: right 0.4s ease;
  right: -100%; /* Al agregar la clase 'hide', se moverá hacia la izquierda y desaparecerá */
}
.popUp{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  max-height: 90vh;
  overflow-y:auto;
  border-radius: 30px;
}

.popUp::-webkit-scrollbar {
  width: 0.4rem;
}

.popUp::-webkit-scrollbar-track {
  background: var(--main-color);
  height: 90%;
}

.popUp::-webkit-scrollbar-thumb {
  background: var(--light-color);
}


.popUp-hide, .overlay-hide{
  display: none;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100; /* Asegura que la capa esté encima de otros elementos */
}

.number-format {
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--main-color);
  height: 50%;
}

body::-webkit-scrollbar-thumb {
  background: var(--light-color);
}

body {
  display: flex;
  background-color: var(--back-color);
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  flex-direction: column;
  min-height: 100vh;

}

p {
  font-weight: 300;
}

a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 500;
}
a:hover,
a:focus {
  transition: color 0.2s;
  color: var(--light-hover-color);
  text-decoration: none;
}

.button--general:not(:hover), .button--general:hover {
  transition: all 0.5s ease;
  position: relative;
  background-color: var(--light-color);
  border-radius: 30px;
  padding: 0.7rem;
  color: var(--main-color);
  border-style: solid;
  border-color: var(--light-color);
  border-width: 2px;
  text-align: center;
}

.button--general:hover {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
}