@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Roboto:wght@300;400&display=swap');

/* Colors */

:root {
  --main-color: #222831;
  --back-color: #393e46;
  --back-light-color: #a3a4a5;
  --light-color: #f7c873;
  --light-hover-color: #c99e4f;
  --button-hover-color: #d8aa56;
  --white-color: #eeeeee;
  --bg-right-color: #626364;
  --bg-left-color: #393e46;
  --border-color: #1b2029;
  --presentation-title-color: #ffffff;
}

/* Light Theme 
:root {
  --main-color: #f7c873;
  --back-color: #e9e3d4;
  --back-light-color: #665633;
  --light-color: #222831;
  --light-hover-color: #d8aa56;
  --button-hover-color: #393e46;
  --white-color: #222831;
  --bg-right-color: #3f3f3f;
  --bg-left-color: #181a1d;
  --border-color: #d4bb85;
}
*/


.number-format {
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--main-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--light-color);
}

body {
  display: flex;
  background-color: var(--back-color);
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  flex-direction: column;
  min-height: 100vh;

}

p {
  font-weight: 300;
}

a {
  color: var(--light-color);
  text-decoration: none;
  font-weight: 500;
}
a:hover,
a:focus {
  transition: color 0.2s;
  color: var(--light-hover-color);
  text-decoration: none;
}

.button--general:not(:hover), .button--general:hover {
  transition: all 0.5s ease;
  position: relative;
  background-color: var(--light-color);
  border-radius: 30px;
  padding: 0.7rem;
  color: var(--main-color);
  border-style: solid;
  border-color: var(--light-color);
  border-width: 2px;
  text-align: center;
}

.button--general:hover {
  background-color: var(--main-color) !important;
  color: var(--light-color) !important;
}