.homeWelcome {
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .carousel {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
  
  }
  
  .carousel__carouseles {
    width: 300%;
    height: 100%;
    display: flex;
  
  }
  
  .slider_section {
    width: calc(100% / 3);
    height: 100%;
  }
  
  .slider_section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
  
  
  .carousel__rightBtn {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: rgba(99, 99, 99, 0.2);
    border-radius: 35%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
    z-index: 3;
  }
  .carousel__rightBtn:hover {
    background-color: rgba(99, 99, 99, 0.45);
    color: #fff;
  }
  
  
  .carousel__rightBtn {
    right: 10px;
  }
  
  .dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  
  
  .carousel__presentation {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 40%;
    text-align: left;
    position: absolute;
    top: 20%;
    z-index: 2;
  }
  
  .carousel__presentation > h1, .carousel__presentation>p {
    color: var(--presentation-title-color);
  }
  
  .welcome>p {
    margin: 20px;
    width: 90%;
  }
  
  
  
  /* Nuestros Objetivos */
  
  .objectives {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 70px 0px 50px 0px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .objectives__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    margin-bottom: 20px;
  
  
  }
  
  .objectives__intro>h4 {
    font-size: 27px;
  }
  
  
  .objectives__all {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: stretch;
  }
  
  
  .objectives__all__objective {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
  
  }
  
  .objectives__all__objective>h4 {
    font-size: 20px;
  }
  
  
  /* PRODUCTOS */
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    padding-bottom: 50px;
  }
  
  .minus-text {
    font-size: 18px;
    font-weight: 300;
  }
  
  .products__title {
    padding: 70px 0px 40px 0px;
  }
  
  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 90%;
    gap: 50px;
  }
  
  
  .products__list_product {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
    padding: 0px;
    background-color: var(--main-color);
  }
  
  .products__list_product>i {
    font-size: 40px;
    padding: 30px;
    color: var(--white-color);
  }
  
  /* RESPONSIVE DESIGN */
  
  @media screen and (max-width: 768px) {
    .carousel__presentation {
      width: 80%;
    }
  
    .products__list_product {
      display: flex;
      flex-direction: column;
      flex-basis: 95%;
    }
    
    .objectives__all {
      display: flex;
      flex-direction: column;
      width: 75%;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
  
    .products__list {
      gap: 20px;
    }
  
    .products__list__all {
      flex-basis: 90%;
    }
  
  
  }