.ContMain {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    z-index: 101;
  }
  
  .shadow {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.8);
    z-index: 99;
  }
  
  .hide {
    transition: right 0.5s;
    right: 0px;
  }
  
  .show {
    transition: right 0.5s;
    right: 400px;
  }
  
  .ContFact {
    position: fixed;
    top: 0;
    width: fit-content;
    min-width: 400px;
    max-width: 600px;
    background-color: var(--main-color);
    border-radius: 15px 0px 0px 15px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    z-index: 100;
  
    transform: translateX(400px);
  }
  
  .internalContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  
  .Title {
    font-weight: 500;
    margin-top: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .S1 {
    display: flex;
    justify-content: space-between;
    height: 10%;
  }
  
  .S2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1px;
    height: 50%;
  }
  
  .S3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 30%;
  }
  
  .Info,
  .subTitle {
    padding-top: 5px;
    padding-inline: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--back-light-color);
  }
  
  .subTitle {
    font-size: 15px;
    font-weight: 500;
    color: var(--white-color);
  }
  
  .S1p {
    align-self: flex-end;
    font-family: 'Roboto', sans-serif;
  }
  
  .S1,
  .S2,
  .S3 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 10px 0px 10px 5px;
    border-bottom: 2px solid var(--light-color);
  }
  
  .InfoState {
    font-weight: 500;
  }

  @media screen and (max-width: 768px) {
    .ContMain {
      position: absolute;
      top: auto;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      z-index: 101;
    }
    
    .shadow {
      position: fixed;
      right: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(27, 27, 27, 0.8);
      z-index: 99;
    }
    
    .hide {
      transition: all 0.5s;
      right: 0;
      top: 100%;
    }
    
    .show {
      transition: all 0.5s;
      right: 0;
      top: 40%;
    }
    
    .ContFact {
      position: fixed;
      min-height: 400px;
      max-height: none;
      min-width: 0px;
      max-width: none;
      width: 95%;
      border-radius: 0px;
      height: 100vh;
      transform: translate(0px,-100px);
    }
    
    .internalContent {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }