
.allAccounts-Container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 55%;
}

.account{
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 0;
    width: 100%;
}

.account__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 40px;
    gap: 10px;
}

.log-on-container, .log-on-container:not(:hover){
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left-style: solid;
    border-width: 1px;
    border-color: var(--back-color);
    flex: 1;
    max-width: 15%;
    border-radius: 0px 20px 20px 0px;
    margin-right: -1px;
    padding: 20px 0px;
}

.log-on-container:hover{
    transition: all 0.5s ease;
    background-color: var(--back-hover-color);
    cursor: pointer;
}

.log-on-container > i {
    padding: 30px 0px;
}

.log-on {
    margin: 0;
    font-size: 40px;
}

.cbu-copy {
    font-size: 18px;
    padding: 0;
    padding-right: 7px;
}

.account-transfer-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    padding-left: 10%;
    align-items: center;    
}

.account__info__type, .account__info__number {
    color: var(--back-light-color);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.account__info__owner{
    font-size: 17px;
    font-weight: 500;
}

.beebank-tag {
    display: inline;
    padding: 0;
    color: var(--light-color);
}

.account-cbu:hover, .account-cbu > label {
    cursor: pointer;
}


@media only screen and (max-width:768px) {
    .allAccounts-Container {
        width: 90%;
        margin: 30px 0px;
    }
    
    .account{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 40px 0px 0px 0px;
    }
    
    .account > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
    }  
    .log-on-container, .log-on-container:not(:hover){
        max-width: 100%;
        width: 100%;
        border-left-style: none;
        border-top-style: solid;
        border-radius: 0px 0px 20px 20px;
        padding: 0px;
    }
    .log-on-container > i {
        padding: 15px 0px;
    }
    
    .log-on {
        margin: 0;
        font-size: 40px;
    }
.account-transfer-info{
    justify-content: center;
    text-align: center;    
    margin: 30px 0px;
}
}