.main_section-transfer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 30px;
    padding: 30px;
    width: fit-content;
}

.inpt_text {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: var(--white-color);
    width: 100%;
    margin-bottom: 12px;
  }
  
  #inpt_concepto {
    margin: 20px 0px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: var(--white-color);
  }