{% extends 'faq/baseFaq.html' %}

{% block faqForm %}
    {% if "ok" in request.GET %}
        <div class="response" data-url="{% url 'Inicio' %}">
            <p>Consulta enviada, responderemos a la brevedad</p>
            <input type="button" value="Volver" class="general-btn" id="returnButton">
        </div>
    {% else %}
        <form action="" method="POST">
            {% csrf_token %}
            <h4>Realiza tu consulta aquí:</h4>
            {{faqForm}}
            <input type="submit" value="Consultar" class="general-btn">
        </form>
    {% endif %}
{% endblock %}