.transfer_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  align-items: stretch;
  height: 90%;
}

.title{
  font-size: 30px;
  margin: 0px 0px 30px 0px;
}

.main_section_transfer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 30px;
  padding: 25px 50px;
  width: 100%;
  height: 90%;
}

.inpt_text, .dataText {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: var(--white-color);
  width: 95%;
  margin: 5px 0px 15px 0px;
  font-size: 17px;
}

.inpt_text {
  width: 80%;
  font-size: 20px;
}

.inpt_concepto {
  margin: 10px 0px 20px 0px;
  border: none;
  background-color: var(--main-color);
  border-bottom: 1px solid white;
  color: var(--white-color);
  padding: 5px 0px;
  font-size: 17px;
}


.searchContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-right-style: solid;
  border-width: 1px;
  border-color: var(--back-color);
  padding-right: 20px;
  min-height: 100%;
}

.marginLabel {
  margin-top: 50px;
}
.transferButton {
  margin-top: 51%;
  margin-bottom: 20px;
  padding: 10px 30px !important;
  font-size: 20px;
  font-weight: 500;
}
.searchButton{
  padding: 10px 20px;
}
.insideContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
  padding-left: 20px;
  height: 100%;
}

.errorLabel{
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}