.logo-mobile {
    display: none;
  }
  
  /* LOANS*/
  
  .top-btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    
    .top-btns .select {
      display: flex;
      flex-direction: column;
      padding: 20px;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 100%;
      background-color: rgba(207, 194, 150, 0.6);
      border: 2px solid #d8aa56;
    }
    
    .top-btns .select:hover {
      background-color: #222831;
    }
    
    select {
      height: 2rem;
      border-top-left-radius:12px;
      border-bottom-right-radius: 12px;
    }
    
    .top-btns .acept-btn {
      background-color: #393e46;
      border: none;
      color: white;
      padding: 15px 32px;
      font-size: 16px;
      border-radius: 10px;
    }
    .top-btns .acept-btn:hover {
      background-color: #f7c873;
      transition: 0.3s;
    }
    .top-btns .cancel-btn {
      background-color: #393e46;
      border: none;
      border-radius: 10px;
      color: white;
      padding: 15px 32px;
      font-size: 16px;
      width: 100%;
      margin-top: 1rem;
    }
    
    .top-btns .cancel-btn:hover {
      background-color: #f7c873;
      transition: 0.3s;
    }
    
    
    /* LOANS CALCULATOR */
  
    .loans-calculator {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .calculator-c
    {
      display: flex;
      padding: 10px 50px 40px 50px;
      background-color: rgba(207, 194, 150, 0.6);
      border: 2px solid #d8aa56;
      text-decoration: none;
      width: 100%;
      margin-bottom: 30px;
    }
  
    .accept-btn:not(:hover){
      transition: all 0.5s ease;
      margin: 20px 0px 0px 0px;
      background-color: #393e46;
      border: none;
      color: white;
      padding: 15px 32px;
      border-radius: 10px;
    }
  
    label {
      margin-top: 20px;
    }
  
    .accept-btn:hover
    {
      transition: all 0.5s ease;
      margin: 20px 0px 0px 0px;
      background-color: #f7c873;
      border: none;
      padding: 15px 32px;
      border-radius: 10px;
      color: var(--main-color);
    }
  
    .result1, .result2, .result3{
      text-align: center;
      color: #222831;
      margin: 30px 0px 0px 0px;
    }
    .input-boxes
    {
      color:#222831;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
  
    .span
    {
      color: black;
      position: absolute;
    }
  
  
    .resultText {
      font-weight: 400;
      font-size: 20px;
    }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* ***************** */
  /* Responsive Design */
  /* ***************** */
  
  @media screen and (max-width: 700px) {
      * {
          margin: 0;
          padding: 0;
      }
      .logo {
        display: none;
      }
    
      .logo-mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 4rem;
        z-index: 99;
      }
  
      .cont_main {
          flex-direction: column;
      }
      .top-btns {
        width: 80%;
      }
      .navegation {
          display: block;
          padding-top: 50px;
          margin-bottom: 30px;
      }
  
      .navegation nav {
          height: 100%;
      }
  
      nav>ul {
          display: block;
          align-items: center;
      }
  
      nav>ul>li {
          display: block;
          margin: 0;
          margin-top: 30px;
          width: 100%;
      }
  
      nav>ul>li:last-child {
          margin-top: 30px;
      }
  
      nav {
          font-size: 22px;
      }
  }