.N_A{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-top-left-radius: 20px;
  border: 2px solid var(--light-color);
  background-color: rgba(207, 194, 150, 0.6);
  padding: 5px;
  margin: 10px 0px;
}

.N_A h2{
  width: 99%;
  height: 99%;
  border-top-left-radius: 20px;
  background: linear-gradient(45deg,var(--bg-left-color),var(--bg-right-color));
}

.cont_bank_data{
  display: flex;
  justify-content: center;
  border: 2px solid var(--light-color);
  background-color: rgba(207, 194, 150, 0.6);
  padding: 5px;
  margin-bottom: 10px;
}

.cont_bank_data_bg{
  width: 99%;
  height: 99%;
  background: linear-gradient(45deg,var(--bg-left-color),var(--bg-right-color));
}

.cont_bank_card{
  margin-left: 10px;
}

.cont_balance{
  display: flex;
  margin-left: 10px;
}

.cont_balance_int{
  flex:2;
}

.cont_balance a{
  margin-right: 30px;
}


.cont_utilities{
  border: 2px solid var(--light-color);
  background-color: rgba(207, 194, 150, 0.6);
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
}

.cont_utilities div{
  display: flex;
  align-items: center;
  background: linear-gradient(45deg,var(--bg-left-color),var(--bg-right-color));
  margin-left: 0px;
  margin-right: 0px;
  width: 99%;
}

.cont_utilities_a{
  flex:1;
  justify-self: center;
  text-decoration: none;
  text-align: center;
  margin-top:5px;
  margin-bottom:5px;
  color: var(--white-color);
  position: relative;
}

.cont_utilities_a::before{
  content: " ";
  background-color: white;
  width: 0%;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0px;
  transition: all 500ms ease;
}

.cont_utilities_a::after{
  content: " ";
  background-color: white;
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0px;
  transition: all 500ms ease;
}

.cont_utilities_a:hover::after{
  width: 100%;
}

.cont_utilities_a:hover::before{
  width: 100%;
}

.cont_historial{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom-right-radius: 20px;
  border: 2px solid var(--light-color);
  background-color: rgba(207, 194, 150, 0.6);
  padding: 5px;
  margin-bottom: 30px;
}

.cont_historial_div1{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  height: 99%;
  border-bottom-right-radius: 20px;
  background: linear-gradient(45deg,var(--bg-left-color),var(--bg-right-color));
}

#H_h2{

}

#A_h2{
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: small;
  line-height: 10px;
  padding: 3px;
  color: var(--white-color);
  border: 2px solid var(--white-color);
  background-color: var(--main-color);
  transition: all 200ms ease;
}

#A_h2:hover{
  background-color: var(--light-color);
  color: black;
}

.cont_historial th{
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.table_tr{
  border-bottom: 1px solid white;
}