.separatorContainer{
    margin: 20px 0px;
    background-color: var(--main-color);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    flex: 1;
}

h2 {
color: var(--light-color);
}

.bankData {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.bankData__buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
}

.utilities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.history__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    margin-bottom: 20px;
}
