{% extends 'base.html' %}
{% block title %}Nuevo Prestamo{% endblock %}

{% block content %}

<h1>Pide un nuevo préstamo entre tus preaprobados</h1>

{% if prestamos_preaprobados %}
    <form method="post" action="{% url 'procesar_prestamo' %}">
        {% csrf_token %}
        <label for="id_prestamo">Préstamo:</label>
        <select name="prestamo" id="id_prestamo" class="number_format">
            {% for opcion in prestamos_preaprobados %}
                <option value="{{ opcion.loan_id }}">{{ opcion.loan_type }} - Monto: {{ opcion.loan_total }}</option>
            {% endfor %}

        </select>
        <br>
        <input type="submit" value="Seleccionar">
    </form>
    <h3 class="number_format">12 Cuotas fijas</h3>
    <h3 class="number_format">TNA: 220,00% CFTEA: 1.006,99% TEA: 653,85%</h3>
{% else %}
    <h4>Lo sentimos, no estás habilitado para recibir un préstamo, asiste a tu sucursal asignada para obtener más información: {{sucursal.branch_name}} {{sucursal.branch_address}}</h4>
{% endif %}
    <a href="{% url 'home_logged' %}">Volver al inicio</a>

{% endblock %}