{% extends 'base.html' %}
{% block title %}Nuevo Prestamo{% endblock %}

{% block content %}

<h1 class="title">Pide un nuevo préstamo entre tus preaprobados</h1>

{% if prestamos_preaprobados %}
    <form class="loan-container" method="post" action="{% url 'procesar_prestamo' %}">
        {% csrf_token %}
        <label for="id_prestamo">Préstamo:</label>
        <select class="select-loan" name="prestamo" id="id_prestamo" class="number_format">
            {% for opcion in prestamos_preaprobados %}
                <option value="{{ opcion.loan_id }}">{{ opcion.loan_type }} - Monto: {{ opcion.loan_total }}</option>
            {% endfor %}

        </select>
        <input class="button" type="submit" value="Seleccionar">
    </form>
    <div class="loan-info">
        <h3 class="number_format">12 Cuotas fijas</h3>
        <h3 class="main-loan-info number_format">TNA: 220,00%</h3>
        <h3 class="secondary-loan-info number_format">TEA: 653,85%</h3>
        <h3 class="secondary-loan-info number_format">CFTEA: 1.006,99%</h3>
    </div>
{% else %}
    <h4>Lo sentimos, no estás habilitado para recibir un préstamo, asiste a tu sucursal asignada para obtener más información: <label class="number_format">{{sucursal.street}} {{sucursal.adress_number}}</label></h4>
{% endif %}
    <a class="link" href="{% url 'home_logged' %}">Volver al inicio</a>

{% endblock %}