.pageContent {
	display: flex;
	padding: 10px 25%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 20px;
	border-radius: 20px;
	background-color: var(--main-color);
	position: absolute;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container>h3 {
	text-align: center;
	width: 100%;
	font-size: 30px;
}

.accordion {
	padding: 20px;
}

.accordion>label {
	padding: 10px 0px;
	font-size: 23px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.accordionContent {
	transition: all 500ms ease;
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 0;
	scale: 0.5;
	width: 100%;
}


.showContent .accordionContent {
	transition: all 300ms ease;
	scale: 1;
	overflow: visible;
	height: 100px;
	width: 100%;
}

@media only screen and (max-width:786px) {
	.container {
		width: 80%;
	}
}