{% extends 'base.html' %}
{% block title %}Inicia Sesión - Beebank{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <label for="id_username">Usuario:</label>
      <input type="text" name="username" id="id_username" required>
      <br>
      <label for="id_password">Contraseña:</label>
      <input type="password" name="password" id="id_password" required>
      <br>
      <input type="submit" value="Iniciar Sesión">
    </form>
  </div>
{% endblock %}