.logo-mobile {
  display: none;
}

.main_section {
  margin: 30px 0px;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--light-color);
  border: 2px solid var(--light-hover-color);
}

h1 {
  color: black;
  border-bottom: 1px solid black;
}

label {
  color: var(--main-color);
  text-align: center;
}

.transfer_button {
  padding: 3px 10px;
  margin: 10px;
  border-radius: 15PX;
  border: 1px solid white;
  background-color: black;
  color: white;
  position: relative;
  transition: all 200ms ease;
}

.transfer_button:hover {
  background-color: var(--light-color);
  color: black;
}

.transfer_table tr {
  border-bottom: 1px solid white;
}

.inpt_text {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: var(--main-color);
  width: 100%;
}

#inpt_concepto {
  margin: 20px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid white;
  color: var(--main-color);
}


@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }

  .logo-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 4rem;
    z-index: 99;
  }
}