@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.number_format{
    font-family: Roboto, sans-serif;
}